/* Reset some default styles and apply general styling */
body {
  color: #333;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Top section styling */
.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 10px;
}

.top-cloud,
.bottom-cloud {
  position: absolute;
  width: 150px;
  top: 80px;
}

.top-cloud {
  right: 25%;
}

.bottom-cloud {
  left: 25%;
  bottom: 300px;
}

.mountains {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 10% auto 0 auto;
  font-family: 'Caveat', cursive;
}

.subtitle {
  font-weight: 600;
}

/* Main content styling */
.row {
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

/* Improve heading hierarchy */
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
}

/* Improve link styling */
a {
  color: #0096FF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 8px 10px;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 1.8;
  transition: color 0.3s;
}

a:hover {
  color: #66BFBF;
}

/* List item styling */
li {
  padding: 8px 0;
  list-style-type: disc;
  line-height: 1.8;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}

/* Button styling */
.btn {
  background: #11CDD4;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
  margin: 20px auto;
}

.btn:hover {
  background: #2BC4AD;
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .top-cloud,
  .bottom-cloud {
    display: none;
  }

  .mountains {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
    margin: 10% auto 0 auto;
  }

  h2 {
    font-size: 1.3rem;
  }

  li {
    font-size: 15px;
    padding: 5px;
  }

  body {
    margin: 25px;
  }

  .row {
    width: 95%;
    text-align: center;
    margin: 20px auto;
  }

  .btn {
    margin: 5% auto;
  }
}
